.sidebar {
  padding: 10px 5px;
}

.sidebar-nav {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.sidebar-nav li a {
  text-decoration: none;
  color: $sidebar-nav;
}

.sidebar-nav li.active {
  font-weight: 700;
}

.sidebar-nav li::before {
  display: none;
}

@media screen and (min-width: $desktop) {
  .sidebar {
    border-right: 1px solid #a5a5a5;
  }
  .sidebar-nav li a {
    font-size: 1.1em;
  }
  .sidebar-nav li {
    margin-bottom: 0.4em;
  }
}
