$site-width: 980px;

$small-padding: 20px;
$large-padding: 80px;

$small-border-radius: 5px;

$body-background: linear-gradient(#e8eff5, #acc7dc 20%);

$nav-height: 30px;

$main-blue: #314a5d;
$secondary-blue: #1f4880;
$tertiary-blue: #2f5180;

$link-blue: #4165a4;
$link-blue-hover: #78b3a4;
$link-blue-active: #171717;

$sidebar-nav: #171717;

$button-blue: #4c7390;
$button-blue-shadow: #152837;

$open-sans: "Open Sans", sans-serif;

$tablet: 450px;
$desktop: 800px;
